body{
    width: 95%;
    max-width: 800px;
    margin: auto;
    background: url(imgfundo.jpg) center;

   font-family: sans-serif; 
   line-height: 1.5;
   color: white;
}

main {
    background: #bb7f7f5c;;
    padding: 5px  40px;
    margin-top: 20px;
    border-radius: 10px;
}
#caixa {
    background: #463535ed top center;
    padding: 5px  40px;
    margin-top: 15px;
    border-radius: 10px;
    width: 250px;
    height: 760px;
}


.title, .botao {
    text-align: center;
}

.busca{
background-color: white;
border: slategray 1px black; 
border-radius: 6px;
width: 200px;
height: 25px; 
}


.buscador{
background-color: white;
font-size: 15px; 
border: none;
border-radius: 10px;
width: 75px;
}